.root {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.root .main_logo { max-width: 90px; width: 100%; }

@media (max-width: 800px) {
    .root svg {
        width: 90px;
        height: 16.67px;
    }
    .root .main_logo { max-width: 85px; width: 100%; }
}